<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 60px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/sign-up (2).png" alt="" />
          </div>
          <h1 id="sign-up-title" class="text-center mt-3">Registration Form</h1>
          <!-- {{user|json}} -->
          <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
            <!-- First Name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                [(ngModel)]="user.firstName"
                name="firstName"
                minlength="2"
                maxlength="15"
                pattern="^[A-Za-z]+$"
                type="text"
                required
                matInput
                placeholder="Enter First Name"
              />
            </mat-form-field>
            <!-- Last Name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                [(ngModel)]="user.lastName"
                name="lastName"
                minlength="2"
                maxlength="15"
                pattern="^[A-Za-z]+$"
                type="text"
                required
                matInput
                placeholder="Enter Last Name"
              />
            </mat-form-field>
            <!-- Username  -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="user.userName"
                email
                name="userName"
                type="email"
                required
                matInput
                placeholder="Enter Username"
              />
              <mat-hint>Username must be unique</mat-hint>
            </mat-form-field>
            <!-- password -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                [(ngModel)]="user.password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                minlength="8"
                name="password"
                type="password"
                required
                matInput
                placeholder="Enter Password"
              />
              <mat-hint>Password must be longer than 8 characters</mat-hint>
            </mat-form-field>
            <!-- Mobile Number -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input
                [(ngModel)]="user.mobileNumber"
                minlength="10"
                maxlength="12"
                name="mobileNumber"
                type="number"
                required
                matInput
                placeholder="Enter Mobile Number"
              />
            </mat-form-field>
            <div class="container text-center">
              <button
                [disabled]="signupForm.invalid"
                type="submit"
                mat-raised-button
                color="primary"
              >
                Sign Up
              </button>
            </div>
            <div class="container mt-3">
              Already have an account? <a routerLink="/login">Login Here</a>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
