<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <mat-card>
        <mat-card-header>
          <div class="container-fluid text-center mt-3 mb-3">
            <mat-card-title>
              <p style="font-size: 30px">
                Welcome To News Feed Application
              </p></mat-card-title
            >
          </div>
        </mat-card-header>
        <img mat-card-image src="../../../assets/newss.jpg" alt="news photo" />
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
