<div class="container mb-5 mt-5">
  <h1 style="font-size: 40px">This Project is Developed By :-</h1>
</div>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5 mb-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="abhijeet-image mb-2"></div>
            <mat-card-title>Abhijeet Jayaraj Chavan</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/abhijeet.jpg" />
          <mat-card-content>
            <p>Email ID: abhijeetchavan9243@gmail.com</p>
            <p>Superset ID: 1208486</p>
            <p>Mobile Number: 7887969402</p>
            <p>Java Full Stack + AWS Batch: 12</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6 offset-md-3 mt-5 mb-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="k-image mb-2"></div>
            <mat-card-title>Kaustubh Sudarshan Pawar</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/k.jpeg" />
          <mat-card-content>
            <p>Email ID: kpawar0367@gmail.com</p>
            <p>Superset ID: 1213957</p>
            <p>Mobile Number: 8554967325</p>
            <p>Java Full Stack + AWS Batch: 12</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6 offset-md-3 mt-5 mb-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="r-image mb-2"></div>
            <mat-card-title>Rohan Ganesh Gundawar</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/r.jpeg" />
          <mat-card-content>
            <p>Email ID: rohangundawar@gmail.com</p>
            <p>Superset ID: 1310800</p>
            <p>Mobile Number: 9527790210</p>
            <p>Java Full Stack + AWS Batch: 12</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6 offset-md-3 mt-5 mb-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="re-image mb-2"></div>
            <mat-card-title>Revat Rameshwar Kukade</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/revat.jpeg" />
          <mat-card-content>
            <p>Email ID: revatkuki123456@gmail.com</p>
            <p>Superset ID: 1105218</p>
            <p>Mobile Number: 9373745275</p>
            <p>Java Full Stack + AWS Batch: 12</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
